@inherits BaseComponent
@page "/"
@attribute [Authorize]

<PageTitle>GymLogger - Home</PageTitle>

<AuthorizeView>
    <h1>Hello @context.User.Identity?.Name!!</h1>
    <FluentLabel Typo="@Typography.Body">Welocm to your Gym Logger. Your favorite muscle group is: @Dashboard?.FavoriteMuscleGroupName</FluentLabel>
    <FluentAnchor Href="/Workouts/Create" IconEnd="@(new Icons.Regular.Size16.Add())" Style="margin-top:8px;">
        Add Workout
    </FluentAnchor>

    <FluentGrid Style="margin-top:8px;">
    @if (Dashboard != null && Dashboard.LastWorkout != null)
    {
        
            <FluentGridItem xs="12" sm="6" md="4" lg="3" xl="3" xxl="2">
                <FluentCard>
                    <FluentLabel Typo="Typography.PaneHeader">Last workout</FluentLabel>
                    <FluentLabel Typo="Typography.PaneHeader">@Dashboard.LastWorkout.Name</FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>Date:</b> @Dashboard.LastWorkout.Date.ToString("dd.MM.yyyy")</FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>Description:</b> @Dashboard.LastWorkout.Description</FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>Total series:</b> @Dashboard.LastWorkout.TotalSets.ToFixedString()</FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>Total reps:</b> @Dashboard.LastWorkout.TotalReps.ToFixedString()</FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>Total weights:</b> @Dashboard.LastWorkout.TotalWeight.ToFixedKg()</FluentLabel>

                    <FluentStack HorizontalAlignment="HorizontalAlignment.End">
                        @{
                            var detailHref = $"/Workouts/{Dashboard.LastWorkout.Id}";
                            var editHref = $"/Workouts/Edit/{Dashboard.LastWorkout.Id}";
                        }
                        <FluentAnchor Href="@detailHref" IconEnd="@(new Icons.Regular.Size16.Search())" />
                        <FluentAnchor Href="@editHref" IconEnd="@(new Icons.Regular.Size16.Edit())" />
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>        
    }
        <FluentGridItem xs="12" sm="6" md="4" lg="3" xl="3" xxl="2">
            <FluentCard>
                <FluentLabel Typo="Typography.PaneHeader">Workouts</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Workouts recorded in app</b>: @Dashboard?.WorkoutsCount</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Workouts in this week</b>: @Dashboard?.WorkoutsThisWeek</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Workouts in this month</b>: @Dashboard?.WorkoutsThisMonth</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Workouts in this year</b>: @Dashboard?.WorkoutsThisYear</FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12" sm="6" md="4" lg="3" xl="3" xxl="2">
            <FluentCard>
                <FluentLabel Typo="Typography.PaneHeader">Sets</FluentLabel>                
                <FluentLabel Typo="Typography.Body"><b>Sets in this week</b>: @Dashboard?.SeriesThisWeek.ToFixedString()</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Sets in this month</b>: @Dashboard?.SeriesThisMonth.ToFixedString()</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Sets in this year</b>: @Dashboard?.SeriesThisYear.ToFixedString()</FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12" sm="6" md="4" lg="3" xl="3" xxl="2">
            <FluentCard>
                <FluentLabel Typo="Typography.PaneHeader">Weights</FluentLabel>                
                <FluentLabel Typo="Typography.Body"><b>Weights in this week</b>: @Dashboard?.WeightThisWeek.ToFixedKg()</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Weights in this month</b>: @Dashboard?.WeightThisMonth.ToFixedKg()</FluentLabel>
                <FluentLabel Typo="Typography.Body"><b>Weights in this year</b>: @Dashboard?.WeightThisYear.ToFixedKg()</FluentLabel>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <ApexChart TItem="DashboardDateItemDto"
                       Title="Reps in current month">
                <ApexPointSeries TItem="DashboardDateItemDto"
                                 Items="Dashboard?.WorkoutsByDate"
                                 Name="Reps"
                                 SeriesType="SeriesType.Area"
                                 XValue="e => e.Date"
                                 YValue="e=> e.Reps" />
            </ApexChart>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <ApexChart TItem="DashboardDateItemDto"
                       Title="Series in current month">
                <ApexPointSeries TItem="DashboardDateItemDto"
                                 Items="Dashboard?.WorkoutsByDate"
                                 Name="Sets"
                                 SeriesType="SeriesType.Area"
                                 XValue="e => e.Date"
                                 YValue="e=> e.Series" />
            </ApexChart>
        </FluentGridItem>

        <FluentGridItem xs="12">
            <ApexChart TItem="DashboardDateItemDto"
                       Title="Weights in current month">
                <ApexPointSeries TItem="DashboardDateItemDto"
                                 Items="Dashboard?.WorkoutsByDate"
                                 Name="Weight"
                                 SeriesType="SeriesType.Area"
                                 XValue="e => e.Date"
                                 YValue="e=> e.Weight" />                
            </ApexChart>
        </FluentGridItem>
    </FluentGrid>
</AuthorizeView>

