@page "/Workouts/{id:guid}"
@inherits BaseComponent
@attribute [Authorize]

@if (Workout != null)
{
    <FluentStack Orientation="Orientation.Vertical">
        <PageHeading>
            <ChildContent>
                @Workout.Name
            </ChildContent>
            <PageHeadingButtons>
                <FluentAnchor Href="/Workouts" IconStart="@(new Icons.Regular.Size16.ArrowLeft())">
                    Natrag
                </FluentAnchor>
                @{ var defailHref = $"/Workouts/Edit/{Id.ToString()}";}
                <FluentAnchor Href="@defailHref" IconEnd="@(new Icons.Regular.Size16.Edit())">
                    Uredi
                </FluentAnchor>
            </PageHeadingButtons>
        </PageHeading>
        
        @if (Workout.Exercises.Any())
        {
            @foreach (var exercise in Workout.Exercises)
            {
                <FluentCard>
                    <FluentLabel Typo="Typography.PaneHeader">@exercise.ExerciseId</FluentLabel>
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var set in exercise.Sets)
                        {
                            <tr>
                                <td>@set.Index</td>
                                @if (set is { Reps: not null, Weight: not null })
                                {
                                    <td>@set.Reps x @set.Weight</td>    
                                }
                                else if (set.Time.HasValue)
                                {
                                    <td>@set.Time</td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </FluentCard>
            }
        }
    </FluentStack>    
}


@code {
    
}