@implements IDialogContentComponent<ExerciseSetFormViewModel>

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" Orientation="Orientation.Vertical">
        <p>Podaci o setu</p>

        @if (Content.Exercise.ExerciseLogType == ExerciseLogType.NegativeWeight ||
        Content.Exercise.ExerciseLogType == ExerciseLogType.Weight)
        {
            <CustomNumberField @bind-Value="@Content.CreateDto.Reps" Label="Broj ponavljanja" />
            <FluentValidationMessage For="() => Content.CreateDto.Reps" />
            
            <CustomNumberField @bind-Value="@Content.CreateDto.Weight" Label="Težina" />
            <FluentValidationMessage For="() => Content.CreateDto.Weight" />
        }
        else if (Content.Exercise.ExerciseLogType == ExerciseLogType.Time)
        {
            <CustomNumberField @bind-Value="@Content.CreateDto.Time" Label="Trajanje (sekunde)" />
            <FluentValidationMessage For="() => Content.CreateDto.Time" />
        }
        else
        {
            <p>Ups, nesto je poslo po krivu</p>
        }
        <FluentTextField Style="width:100%"
                         @bind-Value=Content.CreateDto.Note
                         Label="Napomena" />
    </FluentStack>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Dodaj set</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Odustani</FluentButton>
</FluentDialogFooter>
