@if (ShowName)
{
    <FluentLabel Typo="Typography.PaneHeader">@Exercise.Index<span>.</span> @Exercise.ExerciseName</FluentLabel>
}    
<FluentLabel Typo="Typography.Body">@Exercise.Note</FluentLabel>
<table style="width:100%;table-layout:auto;">
    <thead>
        <tr>
            <th>#</th>
            <th>Reps/Time</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var set in Exercise.Sets.OrderBy(x => x.Index))
        {
            <tr>
                <td>@set.Index<span>.</span></td>
                @if (set is { Reps: not null, Weight: not null })
                {
                    <td>@set.Reps.ToFixedString() x @set.Weight.ToFixedKg()</td>
                }
                else if (set.Time.HasValue)
                {
                    <td>@set.Time.ToFixedTime()</td>
                }
                <td>@set.Note</td>
            </tr>
        }
    </tbody>
</table>
